name: Deploy Expenses Backend

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # 1. Entrar directamente a la carpeta del proyecto
            cd ~/apps/Expense_Tracker_back

            # 2. Forzar actualización limpia (evita el error de divergent branches)
            git fetch origin master
            git reset --hard origin/master

            # 3. Levantar con Build (Docker buscará el archivo en la carpeta correcta)
            # Usamos up con --build para ahorrar pasos
            docker compose up -d --build expenses_b

            # 4. Limpieza de imágenes huérfanas
            docker image prune -f